<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'></link>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <script src="/controllers/angularApp.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>`
    <p>Welcome to <%= title %>!!</p>
  </body>
</html>
