<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <link rel="stylesheet" href="/stylesheets/stripe.css"></link>


    <link rel='stylesheet' href='http://davidlukewilcox.github.io/stylesheets/angular-material.min.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <base href="/">


    <script src="http://davidlukewilcox.github.io/javascripts/jquery-3.0.0.min.js"></script>

    <script src="http://davidlukewilcox.github.io/javascripts/angular.min.js"></script>
    <script src="http://davidlukewilcox.github.io/javascripts/angular-ui-router.js"></script>
    <script src="http://davidlukewilcox.github.io/javascripts/moment.js"></script>
    <script src="http://davidlukewilcox.github.io/javascripts/angular-aria.min.js"></script>
    <script src="http://davidlukewilcox.github.io/javascripts/angular-animate.min.js"></script>
    <script src="http://davidlukewilcox.github.io/javascripts/angular-material.min.js"></script>
    <script src="http://davidlukewilcox.github.io/javascripts/angular-smooth-scroll.min.js"></script>


    <script src="/javascripts/angular-messages.min.js"></script>
    <script src="/javascripts/angular-translate.min.js"></script>
    <script src="/javascripts/angular-sanitize.min.js"></script>
    <script src="/javascripts/angular-stripe-checkout.min.js"></script>

    <script src="/controllers/angularApp.js"></script>
    <script src="/controllers/upload.js"></script>
    <script src="/controllers/register.js"></script>
    <script src="/controllers/donateitem.js"></script>
    <script src="/controllers/navctrl.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>
  <body ng-app="auction" layout="column">
    <md-toolbar class="md-primary" ng-controller="NavCtrl as ctrl">
      <span class="md-toolbar-tools">
        <a ui-sref-active="active" ui-sref="buytickets" ng-show="ctrl.isLoggedIn()">
	  <md-button class="md-primary md-raised" ui-sref-active="md-warn">
	    Buy Tickets
	  </md-button>
        </a>
        <a ui-sref-active="active" ui-sref="donateitem" ng-show="ctrl.isLoggedIn()">
	  <md-button class="md-primary md-raised">Donate Item</md-button>
        </a>
        <a ui-sref-active="active" ui-sref="myauction" ng-show="ctrl.isLoggedIn()" md-mode="right">
	  <md-button class="md-primary md-raised">MyAuction</md-button>
        </a>
	<a ui-sref-active="active" ui-sref="admin" ng-show="ctrl.isAdmin()">
	  <md-button class="md-primary md-raised">Admin Home</md-button>
	</a>
        <a ui-sref-active="active" ng-click="ctrl.logOut()" ng-show="ctrl.isLoggedIn()">
          <md-button class="md-primary md-raised">Log Out</md-button>
        </a>
        <a ui-sref-active="active" ui-sref="login" ng-hide="ctrl.isLoggedIn()">
	  <md-button class="md-primary md-raised">Log In</md-button>
        </a>
        <a ui-sref-active="active" ui-sref="register" ng-hide="ctrl.isLoggedIn()" md-mode="right">
	  <md-button class="md-primary md-raised">Register</md-button>
        </a>
        <span ng-show="ctrl.isLoggedIn()">
          {{ currentUser() }}
        </span>
      </span>
    </md-toolbar>
    <md-content id="content">
      <ui-view></ui-view>
    </md-content>
  </body>
</html>
