<div>

  <div ng-show="submitProgress">
    <md-progress-linear md-mode="determinate" value="{{submitProgress}}"></md-progress-linear>
  </div>
  <div layout="column" layout-padding>
    <div layout="row" >
      <div flex="66">
        <md-toolbar class="md-warn" layout-padding style="display: inline-block">
          <div class="md-toolbar-tools" style="display: inline-block">
            Enter info here for your FIRST ticket.  If you need more than one ticket, click the blue “Add” button below, and scroll down to enter the additional info.
          </div>
        </md-toolbar>
	<div layout="column">
	  <div ng-repeat="ticket in tickets track by $index">
            <div id="anchor{{$index}}">
	      <md-card layout-padding>
	        <div layout="row" flex>
                  <div>
		    <md-input-container>
		      <label>First Name</label>
		      <input ng-model="ticket.firstname" size="30" autofocus>
		    </md-input-container>
                  </div>
		  <div flex>
		    <md-input-container>
		      <label>Last Name</label>
		      <input ng-model="ticket.lastname" size="30">
		    </md-input-container>
                  </div>

                  <md-card-actions>
                    <md-button class="md-icon-button" ng-click="removeTicket($index)" >
                      <md-icon>clear</md-icon>
                    </md-button>
		  </md-card-actions>
	        </div>

                <div>
	          <label>Age Category</label>
	          <md-radio-group ng-model="ticket.agegroup" ng-change="computeOrderDetails()" required>
                    <md-radio-button value="ADULT_TICKET"><b>Adult</b>-Upstairs food, bid card, $16</md-radio-button>
                    <md-radio-button value="HIGHSCHOOL_TICKET"><b>High School Class</b>-Upstairs food, no bid card, $12</md-radio-button>
                    <md-radio-button value="JUNIORHIGH_TICKET"><b>Junior High Class</b>—Downstairs food, no bid card, $5</md-radio-button>
                    <md-radio-button value="CHILD_TICKET"><b>Elementary Classes</b>—Age five through 5th grade, downstairs food, special activities, $5</md-radio-button>
                  </md-radio-group>

                  <label>Dietary Restrictions</label>
                  <md-radio-group ng-model="ticket.foodRes">
                    <md-radio-button value="NONE_FOOD">Regular</md-radio-button>
                    <md-radio-button value="VEGETARIAN_FOOD">Vegetarian</md-radio-button>
		    <md-radio-button value="VEGAN">Vegan</md-radio-button>
		    <!--
		    <md-radio-button value="GLUTENFREE_FOOD">Gluten-free</md-radio-button>
		    -->
                  </md-radio-group>
		  <md-checkbox
		    ng-model="ticket.gluten"
		    class="md-warn md-align-top-left"
		    flex>
		    Gluten Free?
		  </md-checkbox>
                </div>
                <div>
                  <md-input-container>
                    <label>Contact email for this ticket holder</label>
                    <input
                       ng-model="ticket.buyer.email"
                       size="40"
                       >
                  </md-input-container>
                  <md-input-container>
                    <label>Contact phone</label>
                    <input
                       ng-model="ticket.buyer.phonenumber"
                       phone-input
                       >
                  </md-input-container>
                </div>
            </div>
            </md-card> <!--panel-body-->
          </div> <!--ticket repeater-->
        </div>
      </div>

      <div flex="33">
        <md-card layout-padding>
          <div>Order Summary</div>
          
          <div>
            <span>{{numAdultTickets}}</span>
            <span>Adult Tickets</span>
            <span>x $16 =</span>
            <span>${{numAdultTickets*16}}</span>
          </div>
          
          <div>
            <span>{{numHighSchoolTickets}}</span>
            <span>High School Tickets</span>
            <span>x $12 =</span>
            <span>${{numHighSchoolTickets*12}}</span>
          </div>

          <div>
            <span>{{numJuniorHighTickets}}</span>
            <span>Junior High Tickets</span>
            <span>x $5 =</span>
            <span>${{numJuniorHighTickets*5}}</span>
          </div>

          
          <div>
            <span>{{numChildTickets}}</span>
            <span>Child Tickets</span>
            <span>x $5 =</span>
            <span>${{numChildTickets*5}}</span>
          </div>

          <div>
            <b>Total: ${{calculateTotal()}}</b>
          </div>
          <div>
            <md-button stripe-checkout="doCheckout"
		       data-email="{{currentUserEmail}}"
		       data-key="pk_test_TplRtT5yloUqkARvZ1QR4dzt"
		       data-name="SVUUS Auction"
		       data-description="Tickets"
		       data-amount="{{calculateTotal()*100}} | currency"
                       class="md-primary md-raised"
		       >
	      Purchase Tickets
            </md-button>
            <md-button ng-click="addTicket()" class="md-primary md-raised">Add additional ticket to order</md-button>
          </div>

        </md-card>
	<md-toolbar class="md-warn" layout-padding flex style="display: inline-block">
          <div class="md-toolbar-tools" flex style="display: inline-block">
	    A few days after the auction completes, we will charge the card you enter here for the items bought.
          </div>
	</md-toolbar>
      </div>
    </div>
    <div id="bottom"></div>
    <div layout-align="left" layout="row">
      <md-button ng-click="addTicket()" class="md-primary md-raised">Add additional ticket to order</md-button>
      <md-button stripe-checkout="doCheckout"
		 data-email="{{currentUserEmail}}"
		 data-key="pk_test_TplRtT5yloUqkARvZ1QR4dzt"
		 data-name="SVUUS Auction"
		 data-description="Tickets"
		 data-amount="{{calculateTotal()*100}} | currency"
                 class="md-primary md-raised"
		 >
	Purchase Tickets
      </md-button>
    </div>
  </div>

</div> <!--main container-->
