<div>
  <h1>Your Tickets Have Been Bought</h1>
  <div>
    The festivities start promptly at 5:30m on Saturday, November 9th, 2018.  There are no physical tickets.  Just show up and we’ll give you your bid card.  See you there!
  </div>
  <div ng-repeat="user in users">
    <md-card layout-padding>
      First Name: {{user.firstname}}
      <br>
      Last Name: {{user.lastname}}
      <br>
      <div ng-if="user.bidnumber < 1000">
	Bid Number: {{user.bidnumber}}
      </div>
    </md-card>
  </div>
</div>
