<div layout-padding>

  <div ng-show="error">
    <span>{{ error }}</span>
  </div>
  <img src="http://davidwilcox.github.io/images/wildwildwest.jpg">

  <form
     ng-submit="donateitem()"
     name="donateItemForm"
     >
    <md-card layout-padding>
      <p>
        Welcome to the South Valley Annual Goods and Services Auction Fundraiser!  Our event is Saturday, November 12th, 2016, precisely at 6:00pm.
      </p>
      <p>
        We’ll be taking donations through Sunday, November 6th at midnight.  Fill in the area below to donate an item and hit the “Donate Item” button at the end.  If you have more than one item, fill out the page for each item.  PLEASE write it like you’re trying to interest the reader in buying your item.  (Required fields have an asterisk.)
      </p>
      <p>
        If you have questions, contact Marilyn Smith at smith3390@comcast.net.
      </p>
      <p>
        <b>Thank you for making this year’s auction GREAT!</b>
      </p>
    </md-card>
    <br>
    <md-card layout-padding>
      Who’s Donating This Item?  (big and bold first line I mentioned before)

Enter the name (or names!) of the person or group donating this item (you can change it from the autofilled name):
      <md-input-container>
	<label>Donor Name</label>
	<input
	   type="text"
	   ng-model="donor.name"
	   name="donorname"
	   required
	   ></input>
	<div ng-messages="donateItemForm.donorname.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-input-container>
      What phone number should people call about this item?  (Again, you can change from the autofill.)
      <md-input-container>
	<label>Phone Number</label>
	<input
	   type="text"
	   ng-model="donor.phonenumber"
	   name="donorphonenumber"
	   required
           phone-input
	   ></input>
	<div ng-messages="donateItemForm.donorphonenumber.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-input-container>
      <md-input-container>
        What email should people use to contact the donor(s)?
	<label>Email Address</label>
	<input
	   type="text"
	   name="email"
	   ng-model="donor.email"
	   required
	   ></input>
	<div ng-messages="donateItemForm.email.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-input-container>

      Give us a photo of you, or the donating group!
      <input class="ng-hide" id="input-file-id" type="file" ng-file-select="onFileSelect($files)" accept="image/*" />
      <label for="input-file-id" class="md-button md-raised md-primary">click to upload a photo</label>
      <div>
        <div ng-hide="imageSrc">
	  <label>Image Preview.</label>
	  <div ng-show="donor.photoid">
	    <img ng-src="http://svuus-photos.s3.amazonaws.com/{{donor.photoid}}" style="width:100px"></img>
	  </div>
        </div>
        <div ng-show="imageSrc">
          <img ng-src="{{imageSrc}}" style="width:100px" ></img>
        </div>

      </div>
    </md-card>

    <br>
    <md-card layout-padding>
      <h3><b>I'm offering a...</b></h3>
      <br>
      <div id="itemnamecharacters">
        Please keep this succint.
      </div>
      <md-input-container>
        <label>Item Name</label>
	<input
	   type="text"
	   ng-model="item.name"
	   name="itemname"
	   md-maxlength="{{itemMaxLength}}"
	   required
	   ></input>
	<div ng-messages="donateItemForm.itemname.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-input-container>
      Here's a little more information about it.
      What is great about this item? What would make someone want to buy it? Write like you're trying to sell it!
      <md-input-container>
	<label>Description</label>
	<textarea
	   ng-model="item.description"
	   name="itemdescription"
	   md-maxlength="{{descriptionMaxLength}}"
	   required
	   ></textarea>
	<div ng-messages="donateItemForm.itemdescription.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-input-container>
      What is this item worth?
      Your best guess is fine.
      <div layout="row" layout-align="start center">
        <md-input-container>
	  <label>Fair Market Value (USD)</label>
	  <input
	     ng-model="item.value"
	     name="itemvalue"
	     min="0"
	     format="currency"
	     required
	     ></input>
	  <div ng-messages="donateItemForm.itemvalue.$error">
	    <div ng-messages-include="/messages.html"></div>
	  </div>
        </md-input-container>
      </div>
      I would hate to see my item go for less than this amount.
      <div layout="row" layout-align="start center">
        <md-input-container>
	  <label>Minimum Value (USD)</label>
	  <input
	     ng-model="item.minvalue"
	     name="itemminvalue"
	     format="currency"
	     min="0"
	     required
	     ></input>
	  <div ng-messages="donateItemForm.itemminvalue.$error">
	    <div ng-messages-include="/messages.html"></div>
	  </div>
        </md-input-container>
      </div>

      <b>My item falls in the following category</b>
      <md-input-container>
        <md-radio-group
           ng-model="item.category"
	   name="itemcategory"
           required
           >
          <md-radio-button value="event">Event (like a dinner party, poker night, a class, anything with multiple spots that happens later.)</md-radio-button>
          <md-radio-button value="object">Object or service (a thing that can sit on the table, a gift certificate, haircut, computer consulting, photo shoot.  It could be later, but it's sold as a single thing.)</md-radio-button>
        </md-radio-group>
	<div ng-messages="donateItemForm.itemcategory.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-input-container>

      <div ng-show="item.category == 'object'">
        How many items are you selling?
        <br>
        Example: Three quilts being sold separately would have "3" in this field. However, if you are selling a group of items together (a basket of jams, or a set of books, put "1").
        <br>
        <md-input-container>
	  <label>Quantity</label>
	  <input
	     type="number"
	     ng-model="item.quantity"
	     name="quantity"
             min="0"
	     required
	     ></input>
	  <div ng-messages="donateItemForm.quantity.$error">
	    <div ng-messages-include="/messages.html"></div>
	  </div>
        </md-input-container>
      </div>

      <div ng-show="item.category == 'event'">
	How many spots will your event have?
        <br>
        <md-input-container>
	  <label>Number of Spots</label>
	  <input
	     type="number"
	     ng-model="item.quantity"
             min="0"
	     required
	   ></input>
	  <div ng-messages="donateItemForm.quantity.$error">
	    <div ng-messages-include="/messages.html"></div>
          </div>
	</md-input-container>
      </div>

      <div ng-show="item.category == 'event'">
        What is the date of the event you will host?
        We highly recommend choosing and advertising a specific date.
        <br>
        <md-datepicker
           ng-model="item.eventdate"
           md-placeholder="Event Date"
           aria-label="Date Picker"
           >
        </md-datepicker>
	<div>
          If you absolutely can’t pick an exact date, enter the timeframe notes you know at this point, like “A Saturday in July”
          <br>
          <md-input-container>
            <label>Time Notes</label>
            <input
               type="text"
               ng-model="item.eventtypedtime"
               >
          </md-input-container>
	</div>
      </div>

      Choose one of these policies for kids.
      <br>
      <div ng-show="item.category == 'event'">
        <md-radio-group ng-model="item.policy" required>
	   <div ng-repeat="policy in policies">
	     <md-radio-button
	        name="policy"
	        value="{{policy}}"
                aria-label="Decision"
                required
	        >&nbsp;<span translate="{{policy}}"></span>
             </md-radio-button>
	   </div>
	   <div ng-messages="donateItemForm.itempolicy.$error">
	     <div ng-messages-include="/messages.html"></div>
	   </div>
        </md-radio-group>
      </div>
      If your donated item does not sell, it will be donated to a charitable organization. If you prefer to keep it if it does not sell, you are responsible for taking it at the end of the auction. If you will not be attending the auction, please ask a friend to retrieve it for you.
      <md-radio-group ng-model="item.disclaimer" required >
	<md-radio-button
	   type="radio"
	   name="disclaimer"
	   value="yes"
	   required
	   >  I agree</md-radio-button>
	<div ng-messages="donateItemForm.disclaimer.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-radio-group>
    </md-card>
    <md-button class="md-raised md-primary" type="submit">Donate Item</md-button>
  </form>
</div>
