<div class="container col-xs-12 col-sm-offset-1 col-sm-10">
  <h1 class="text-center" style="padding-top: 10px; padding-bottom: 20px">Purchase Tickets</h1>
  <form ng-submit="donateitem()">
	<div class="panel panel-default">
	  <div class="panel-body">
		<div class="row" style="padding-bottom:10px">
		  <label>Item Name</label>
		  <input type="text" ng-model="itemname"></input>
		</div>
		<div class="row" style="padding-bottom:10px">
		  <label>Fair Market Value</label>
		  <input type="number" ng-model="fmv" min="0"></input>
		</div>
		<div class="row" style="padding-bottom:10px">
		  <label>Quantity</label>
		  <input type="text" ng-model="quantity"></input>
		</div>
		<div class="row" style="padding-bottom:10px">
		  <label>Description</label>
		  <input type="text" ng-model="description"></input>
		</div>
		<div class="row" style="padding-bottom:10px">
		  <label>Restrictions</label>
		  <input type="text" ng-model="restrictions"></input>
		</div>
	  </div>
	</div>
	<button type="submit">Donate Item</button>
  </form>
</div>
