<div layout-padding>
  <h3>Donation Ideas</h3>
  <font size="2">
    A virtual/zoom murder mystery.
    <br>
    <br>
    A virtual/zoom cooking class (or just cooking together.)  Maybe someone has experience with a particular ethnic cooking?  Maybe someone who’s just taken a cooking class shows what they learned in their class…?
    <br>
    <br>
    A virtual watching of a movie together.  Perhaps recruit a movie critic/expert of some sort to join a chat afterwards?
    <br>
    <br>
    A virtual game of Poker...?  Or Hearts or Monopoly or Scrabble or Settlers of Catan whatever else you can play together online.  I’ve seen people have one window open for a game, with another window open to chat on zoom.
    <br>
    <br>
    Perhaps a video game session together?
    <br>
    <br>
    Rather than our usual full dinner parties, maybe offer a smaller course that people can eat together spread around a front yard.  Perhaps team up with 2-4 other people who live near you, and make it like a progressive dinner around the neighborhood…?  That might make it so all the participants aren’t all in one yard at the same time.
    <br>
    <br>
    I think it’d be great if someone put together a driving treasure hunt of some sort.  Maybe with clues to figure out, or maybe just a tour of goofy/weird/interesting things around a part of the valley.
    <br>
    <br>
    People might still be able to do hobby sharing parties virtually….maybe something like the card-making workshop with supplies dropped off or picked up ahead of time.
    <br>
    <br>
    What do you like to do and what would be fun to share…?
  </font>
</div>
