<div layout-padding>
  <h3>Donation Ideas</h3>
  <font size="2">
    <ul>
      <li>Think of a skill or talent you could offer.  (Card making?  cooking class?  Landscaping?  garden help?  Home design? Crafting?)  </li>
      <li>What outing could you share with others? (Hiking? Ride on your boat? Cabin retreat? Picnic at a park? Biking tour?)  </li>
      <li>Could you host a fun gathering?  (Ice cream party?  Movie party?  International cuisine?  Brunch?  Game night?  Sleepover? Kids’ party?) Poker night?)</li>
      <li> Do you have items of interest/value that others would want to buy?  (Jewelry?  Homemade, home-baked items?  Wine?  gift baskets?  Books?  Art?)</li>
    </ul>
    <br><br>
    Keep in mind, PARTIES are the most POPULAR item, we like gathering together, and they earn the most in donations for SVUU. Parties earn our highest returns, so please think of hosting a gathering that people could attend!!!
    <br><br>
    Here are some examples of donations that came in years past:
    <br><br>
    Produce brought to your door<br>
    Spa day<br>
    Basket of books & treats<br>
    Mystery dinner<br>
    Seasons of Desserts<br>
    Craft party<br>
    Home Cooked Dinner<br>
    Play tickets<br>
    Bucket of beer<br>
    Gift cards<br>
  </font>
</div>
