<!-- <div class="container col-md-12">
	 <div class="col-xs-3" style="background-color:grey; height: 100vh; padding-left: 0px; padding-right: 0px">
       <h4 class="text-center" style="padding-top: 50px">Ticket options</h4>
	 </div> -->
<div class="container col-xs-12 col-sm-offset-1 col-sm-10">
  <h1 class="text-center" style="padding-top: 10px; padding-bottom: 20px">SVUUS Auction</h1>
  <div ng-show="isLoggedIn()">
    <div>
      <a ui-sref="buytickets">
	<md-button class="md-primary md-raised">Buy Tickets</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="viewregisteredpeople">
	<md-button class="md-primary md-raised">View Registered People</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="donateitem">
	<md-button class="md-primary md-raised">Donate Item</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="viewdonateditems">
	<md-button class="md-primary md-raised">View Donated Items</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="insertbids">
	<md-button class="md-primary md-raised">Insert Bids</md-button>
      </a>
    </div>
  </div>

</div>
