<div layout-padding>
  <div>
    <img src="images/Glam-gala-banner3.jpg">
  </div>
  <h1 layout="center">SVUUS Auction</h1>

  <div layout="row">
    <div>
      <p>
        SVUUS Auction
      </p>
      <p>
        Saturday, November 12, 2022 at 7:00pm
      </p>
      <p>

        Welcome to the SVUUS Auction Website! Thank you for participating. This year the auction will be held in person again !
      </p>
      <p>
        <b>First</b>, to get started on the site click the “Register” button above to create an account. Have a photo of yourself and/or your family ready to upload. This is useful so that if you donate an item, others can see who you are and who donated it. Try to use a closeup photo of faces.
      </p>
      <p>
        <b>Second</b>, buy tickets
      </p>

      <p>
        Tickets are $16 for adults through Nov. 6th and $20 after Nov. 6th. Tickets for those 18 years and younger are $4. The credit card you use to buy your tickets will be used to pay your final invoice after the auction.
      </p>
<p>
  Adults and high school students are invited to attend the main auction event. The main event will include live music, a silent auction, a live auction, raffles, and a fabulous dessert.
  </p>
<p>
  Our auction is known for all the dinner parties and experiences that people offer. For example, besides dinner parties, people offer things like sailing, scarf painting, tie-dying, kite flying, ski lessons, hikes, bike rides, poker, etc. These are great ways to meet people who share your interests, add to your social calendar for the year, and learn people’s hobbies!
  </p>
<p>
  There will also be a children's auction for those in junior high, elementary school, and younger. Children will be given fake virtual money to use for bidding in the children's auction.
</p>

<p>
  <b>Third</b> donate items to auction. If you need suggestions, you can click below.
  </p>
      <p>
        Questions? Email kristenamay@gmail.com. Thanks!
      </p>
      <p>
        <md-button ng-click="showIdeas($event)" class='md-primary md-raised'>Donation Ideas</md-button>
      </p>
    </div>
  </div>
</div>
