<div layout-padding>
  <h1 layout="center">SVUUS Auction</h1>
  If you have any issues with the web site, feel free to contact me (David Wilcox) at <a href="mailto:davidlukewilcox@gmail.com">davidlukewilcox@gmail.com</a> and I'll get it fixed.
  <!--
  <div ng-show="isLoggedIn()">
    <div>
      <a ui-sref="buytickets">
	<md-button class="md-primary md-raised">Buy Tickets</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="viewregisteredpeople">
	<md-button class="md-primary md-raised">View Registered People</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="donateitem">
	<md-button class="md-primary md-raised">Donate Item</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="viewdonateditems">
	<md-button class="md-primary md-raised">View Donated Items</md-button>
      </a>
    </div>
    <div>
      <a ui-sref="insertbids">
	<md-button class="md-primary md-raised">Insert Bids</md-button>
      </a>
    </div>
  </div>
  -->
  <br>
  Welcome to the auction!

</div>
