<div>
  <div layout="row">
    <md-input-container>
      <label>Search Item Name</label>
      <input
	 ng-model="searchTerms.searchname"
	 type="text"
	 >
    </md-input-container>
    <md-input-container>
      <label>Search Item Number</label>
      <input
	 type="text"
	 ng-model="searchTerms.searchitemnumber"
	 >
    </md-input-container>
    <md-input-container>
      <label>Search Donor Name</label>
      <input
	 type="text"
	 ng-model="searchTerms.searchdonorname"
	 >
    </md-input-container>
    <div>
      <md-button class="md-primary md-raised" ng-click="performSearch()">Search/Sort</md-button>
    </div>

  </div>
  <div ng-repeat="item in items">
    <md-card layout-padding>
      <div layout="row">
	<div flex>
          <span class="md-headline">
	    {{::item.number}} &nbsp;--&nbsp; {{::item.name}}
          </span>
	  <div layout="row" layout-align="start end">
	    <font size="2">Donor Name: &nbsp;</font> {{getFullName(item.donor)}}
	  </div>
	  <div layout="row" layout-align="start end">
            <font size="2">Type: &nbsp;</font> {{::item.type}}
	  </div>
	  <div layout="row" layout-align="start end">
	    <font size="2">Quantity: &nbsp;</font> {{::item.quantity}}
	  </div>
          <br>
	  <form ng-submit="addbidder">
            <div layout="row">
              <md-input-container>
		<label>Bidder #</label>
		<input
		   type="text"
		   ng-model="item.bidder"
		   >
	      </md-input-container>
	      <div ng-show="item.bidder">
		<div ng-repeat="biddername in findBidders(item) track by $index">
		  {{::biddername}}
		</div>
	      </div>
            </div>
            <div>
              <md-input-container>
		<label>Price</label>
		<input
		   type="text"
		   ng-model="item.price"
		   format="currency"
		   >
              </md-input-container>
            </div>
	    <div>
	      {{::item.message}}
	    </div>
            <div>
              <md-button
		 ng-click="addbidders(item)"
		 class="md-primary md-raised"
		 >
		Add Bidders
              </md-button>
            </div>
	  </form>
	</div>
	<md-card layout-padding>
	  <md-card-title>
	    <md-card-title-text>
	      <span class="md-headline">
		Buyers
	      </span>
	    </md-card-title-text>
	  </md-card-title>
	  <div ng-repeat="transaction in transactions_by_item[item.id]">
	    <div layout="row">
	      <div >{{::transaction.bidnumber}} {{getFullName(tickets[transaction.bidnumber])}} {{::transaction.sellprice | currency}}</div>
	      <md-button class="md-icon-button" ng-click="removeBidderFromItem($event, item, transaction)" >
		<md-icon>clear</md-icon>
	      </md-button>
	    </div>
	  </div>
	</md-card>
      </div>
    </md-card>
  </div>
</div>
