<div>
  <div ng-show="error" >
    <span>{{ error.message }}</span>
  </div>
  <div ng-show="message" >
    <span>{{ message.message }}</span>
  </div>

  <div ng-repeat="item in items">
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
	    {{item.donor.name}}
          </span>
          <span class="md-subhead">
	    {{item.donor.email}}
          </span>
        </md-card-title-text>
      </md-card-title>
      <div layout="row">
        <label>Donor Phone Number</label>
        {{item.donor.phone}}
      </div>
      <div layout="row">
        <label>Item Category</label>
        {{item.category}}
      </div>
      <div layout="row">
        <label>Item Description</label>
        {{item.description}}
      </div>
      <div layout="row">
        <label>Item Name</label>
        {{item.name}}
      </div>
      <div layout="row">
        <label>Item Starting Bid</label>
        {{item.minvalue | currency}}
      </div>
      <div layout="row">
        <label>Item Value</label>
        {{item.value | currency}}
      </div>
      <div layout="row" ng-show="item.policy">
        <label>Event Policy</label>
        <span translate="{{item.policy}}"></span>
      </div>
      <div layout="row" ng-show="item.referee">
        <label>Donor Referee</label>
        {{item.referee}}
      </div>
      <form ng-submit="addbidder">
        <div>
          <md-input-container>
          <label>Bidder #</label>
          <input
	     type="number"
	     ng-model="item.bidder"
	     >
        </div>
        <div>
          <md-input-container>
            <label>Price</label>
            <input
	       type="text"
	       ng-model="item.price"
	       format="currency"
	       >
          </md-input-container>
        </div>
        <div>
          <md-button
	     ng-click="addbidder(item)"
             class="md-primary md-raised"
             >
	    Add Bidder
          </md-button>
        </div>
      </form>
    </md-card>
  </div>
</div>
