<div ng-repeat='item in items'>
  <div class="page-break-avoid">
    <div layout="row">
      <div style="background-color:#CCCCCC;"><h2>{{item.number}}</h2></div>
      <div>
        <h2>&nbsp;{{item.name}} ({{item.eventdate ? (item.eventdate | date) : item.eventtypedtime}})</h2>
      </div>
    </div>
    <div layout="row" >
      <div layout="column" flex>
        <div flex layout="column" layout-fill>
          <div flex >
            <div layout="row" flex>
              <font size="2">
                {{item.description}}
              </font>
            </div>
          </div>
          <div layout="row">
            <div flex layout="row">
              <div>
                Min Bid: {{item.minvalue | currency}}
              </div>
              &nbsp;&nbsp;
              <div>
                Value: {{item.value | currency}}
              </div>
            </div>
            <div>
              <b><font size="2">Donated by: {{item.donor.name}}</font></b>
            </div>
          </div>
        </div>
      </div>
      <div class="live-catalog-image-container">
        <img ng-src="http://svuus-photos.s3.amazonaws.com/{{item.donor.photoid}}">
      </div>
    </div>
  </div>
</div>
