<div layout-padding>
  <h1>Login</h1>

  <div ng-show="error">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
	name="loginForm"
	>

    <div>
      <md-input-container>
        <label>Email</label>
        <input type="email"
	       name="loginemail"
	       class="form-control"
	       ng-model="user.email"
	       required
	       ></input>
        <div ng-messages="loginForm.loginemail.$error">
	  <div ng-messages-include="/messages.html"></div>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>Password</label>
        <input type="password"
	       class="form-control"
	       ng-model="user.password"
	       name="password"
	       required
	       ></input>
        <div ng-messages="loginForm.password.$error">
	  <div ng-messages-include="/messages.html"></div>
        </div>
      </md-input-container>
      <a ui-sref="forgot_password">Forgot Password?</a>
    </div>
    <md-button type="submit" class="md-primary md-raised">Log In</button>
  </form>

</div>
