<div>
  <div ng-show="error">
    <span>{{ error.message }}</span>
  </div>
  <div layout="row">
    <md-input-container>
      <label>Search Item Name</label>
      <input
	 ng-model="searchTerms.searchname"
	 type="text"
	 >
    </md-input-container>
    <md-input-container>
      <label>Search Item Number</label>
      <input
	 type="text"
	 ng-model="searchTerms.searchitemnumber"
	 >
    </md-input-container>
    <md-input-container>
      <label>Search Item Type</label>
      <md-select
	 ng-model="searchTerms.searchitemtype"
	 >
	<md-option value="live">Live</md-option>
	<md-option value="silent">Silent</md-option>
	<md-option value="fixed">Fixed</md-option>
	<md-option value="raffle">Raffle</md-option>
	<md-option value="unassigned">Unassigned</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Search Donor Name</label>
      <input
	 type="text"
	 ng-model="searchTerms.searchdonorname"
	 >
    </md-input-container>
    <md-input-container>
      <label>Sort</label>
      <md-select
	 ng-model="sortval">
	>
	<md-option value="date">Item Donation Date</md-option>
	<md-option value="itemnumber">Item Number</md-option>
	<md-option value="itemtype">Item Type</md-option>
      </md-select>
    </md-input-container>
    <div>
      <md-button class="md-primary md-raised" ng-click="performSearch()">Search/Sort</md-button>
    </div>

  </div>
  <div>
    <div>
      <a ui-sref-active="active" ui-sref="admin.silent_bid_sheets" ng-show="isAdmin()">
        <md-button class="md-primary md-raised">Silent Bid Sheets</md-button>
      </a>
      <a ui-sref-active="active" ui-sref="admin.live_catalog" ng-show="isAdmin()">
        <md-button class="md-primary md-raised">Live Catalog</md-button>
      </a>
      <a ui-sref-active="active" ui-sref="admin.fixed_price_bid_sheet" ng-show="isAdmin()">
        <md-button class="md-primary md-raised">Fixed Price Sheets</md-button>
      </a>
    </div>
  </div>

  <div ng-repeat="item in items track by $index">
    <viewitemadmin item="{{item}}"></viewitemadmin>
    <br>
</div>
</div>
