<div>
  <a ui-sref=".mytickets" ui-sref-active="active">
    <md-button class="md-raised md-primary">My Tickets</md-button>
  </a>
  <a ui-sref=".mydonateditems"  ui-sref-active="active">
    <md-button class="md-raised md-primary">My Donated Items</md-button>
  </a>
  <a ui-sref=".myinvoice" ui-sref-active="active">
    <md-button class="md-raised md-primary">My Invoice</md-button>
  </a>
  <a ui-sref=".myprofile" ui-sref-active="active">
    <md-button class="md-primary md-raised">My Profile</md-button>
  </a>
  <ui-view>
</div>
