<div layout-padding>
  <h1>My Invoice</h1>
  <div ng-repeat="ticket in tickets">
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <h3>{{ticket.name}}</h3>
        </md-card-title-text>
      </md-card-title>
      <table border="0" style="border:none; border-width:0; border-collapse:collapse;">
        <tr ng-repeat="transaction in transactions_by_bidnum[ticket.bidnumber]" layout-padding>
          <td>
	    {{items_by_itemid[transaction.itemid].name}}
          </td>
          &nbsp;
          <td>
            {{items_by_itemid[transaction.itemid].donor.name}}
          </td>
          &nbsp;
          <td>
            {{items_by_itemid[transaction.itemid].donor.email}}
          </td>
          &nbsp;
          <td>
            {{items_by_itemid[transaction.itemid].donor.phonenumber | tel}}
          </td>
          &nbsp;
          <td>
	    {{transaction.sellprice | currency}}
          </td>
        </tr>
      </table>
    </md-card>
  </div>
  <h1>
    <label>Total</label>
    {{totalInvoice | currency}}
  </h1>
</div>
