<div class="page-header">
  <h1>My Invoice</h1>
</div>
<div class="container col-xs-12 col-sm-offset-1 col-sm-10">
  <div ng-repeat="ticket in tickets">
	<div ng-repeat="item in ticket.boughtitems">
	  <div>
		<div class="panel-body">
		  <div class="row">
			<label>Buyer Name</label>
			{{ticket.name}}
		  </div>
		  <div class="row">
			<label>Item Name</label>
			{{items[item].name}}
		  </div>
		  <div class="row">
			<label>Item Price</label>
			{{items[item].price}}
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <label>Total</label>
  {{totalInvoice}}
</div>
