<div layout-padding>
  <h1>My Invoice</h1>
  <div ng-repeat="ticket in tickets">
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
          <h3>{{ticket.name}}</h3>
        </md-card-title-text>
      </md-card-title>
      <table>
      <div ng-repeat="transaction in transactions_by_bidnum[ticket.bidnumber]" layout="row">
        <div>
	  {{items_by_itemid[transaction.itemid].name}}
        </div>
        &nbsp;
        <div>
          {{items_by_itemid[transaction.itemid].donor.name}}
        </div>
        &nbsp;
        <div>
          {{items_by_itemid[transaction.itemid].donor.email}}
        </div>
        &nbsp;
        <div>
          {{items_by_itemid[transaction.itemid].donor.phonenumber}}
        </div>
        &nbsp;
        <div>
	  {{transaction.sellprice | currency}}
        </div>
      </div>
    </md-card>
  </div>
  <h1>
    <label>Total</label>
    {{totalInvoice | currency}}
  </h1>
</div>
