<div>
  <h3>Replace Picture</h3>

  <div>
    <div ng-hide="imageSrc">
      <div ng-show="user.photoid">
	<img ng-src="https://svuus-photos.s3.amazonaws.com/{{user.photoid}}" style="width:100px"></img>
      </div>
      <div ng-hide="user.photoid">
	No image chosen.
      </div>
    </div>
    <div>  <progress value="{{progress}}"></progress></div>
  </div>

  <input id="uploadfileid" class="ng-hide" type="file" ngf-select="upload($files)" ngf-change="upload($files)" ng-model="picFile" name="file" ngf-accept="'image/*'"
         ngf-resize="{width: 500, height: 500}">
  <label class="md-button md-primary md-raised" for="uploadfileid">Choose Picture</label>

  {{message}}
</div>
