<div>
  <h3>Replace Picture</h3>
  <div>
    <input class="ng-hide" id="input-file-id" type="file" ng-file-select="onFileSelect($files)" accept="image/*" >
    <label for="input-file-id" class="md-button md-raised md-primary">Change Picture</label>
  </div>
  <div>
    <div ng-hide="imageSrc">
      <div ng-show="user.photoid">
	<img ng-src="http://svuus-photos.s3.amazonaws.com/{{user.photoid}}" style="width:100px"></img>
      </div>
      <div ng-hide="user.photoid">
	No image chosen.
      </div>
    </div>
    <div><img ng-src="{{imageSrc}}" style="width:300px"></div>
    <div>  <progress value="{{progress}}"></progress></div>
  </div>
  <div ng-show="imageSrc">
    You have not replaced your picture yet. Click Finalize to do so!
    <div>
      <md-button ng-click="submit()" class="md-primary md-raised">Finalize Change</md-button>
      <div ng-show="submitted">
	<md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>
  {{message}}
</div>
