
<div layout-padding>

  <h1>Register</h1>
  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <div>
    When registering people, watch out for spelling autocorrect on your browser. It might "correct" names that were correct before correction.
  </div>
  
  <form ng-submit="register()"
	name="registrationForm"
	>

    <div>
      <md-input-container>
        <label>Email</label>
        <input type="email"
	       name="email"
	       ng-model="user.email"
               size="60"
               required>
        <div ng-messages="registrationForm.email.$error">
	  <div ng-messages-include="/messages.html"></div>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>First Name</label>
        <input type="text"
	       name="name"
	       ng-model="user.firstname"
               size="60"
	       required>
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input type="text"
	       name="name"
	       ng-model="user.lastname"
               size="60"
	       required>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>Phone Number</label>
        <input type="text"
	       name="phonenumber"
	       ng-model="user.phonenumber"
	       phone-input
	       required
	       >
      </md-input-container>
    </div>
    <b>Picture of You or Your Family (So people can see who’s donating)</b>

    <div>
      <input class="ng-hide" id="input-file-id" type="file" ng-file-select="onFileSelect($files)" accept="image/*" >
      <label for="input-file-id" class="md-button md-raised md-primary">Choose PICTURE</label>
    </div>
    <div>
      <div><i ng-hide="imageSrc">No image chosen.</i></div>
      <div><img ng-src="{{imageSrc}}" style="width:300px"></div>
      <div>  <progress value="{{progress}}"></progress></div>
    </div>
    <div>
      <md-input-container>
        <label>Password</label>
        <input type="password"
	       name="password"
	       ng-model="user.password" required>
        <div ng-messages="registrationForm.password.$error">
	  <div ng-messages-include="/messages.html" ></div>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" ng-model="user.confirmPassword" required compare-to="user.password" class="form-control"  >
        <div ng-messages="registrationForm.confirmPassword.$error">
	  <div ng-messages-include="/messages.html"></div>
        </div>
      </md-input-container>
    </div>
    <div ng-show="submitted">
      Uploading your photo... Please wait.
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <md-button type="submit" class="md-primary md-raised">Register</md-button>
  </form>
</div>
