<div layout-padding>
  <div ng-show="error">
    <font color="red">{{error}}</font>
  </div>
  <div ng-show="message">
    {{message}}
  </div>
  <form ng-submit="resetPassword()"
	name="Form"
	>
    <div>
      <md-input-container>
	<label>Password</label>
	<input type="password"
	       name="password"
	       ng-model="password" required>
	<div ng-messages="Form.password.$error">
	  <div ng-messages-include="/messages.html" ></div>
	</div>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
	<label>Confirm Password</label>
	<input type="password" name="confirmPassword" ng-model="confirmPassword" required compare-to="password"  >
	<div ng-messages="Form.confirmPassword.$error">
	  <div ng-messages-include="/messages.html"></div>
	</div>
      </md-input-container>
    </div>
    <md-button type="submit" class="md-primary md-raised">Reset Password</button>
</form>
</div>
