<div>
  <style type="text/css" media="print">
    @page {
        size: landscape;
    }
  </style>
</div>
<div ng-repeat='var in items'>
  <div style='height: 8in; width: 30.7cm;'>
    <div style='width: 14.85cm; float:left; word-wrap: normal;'>
      <div>
        <h2>{{var[0].name}}</h2>
        <div class='row' style='margin-left:0cm'>
          <span>
	    {{var[0].description}}
          </span>
          <span style='float:right'>
	    <div class='silent-bid-sheet-image-container'>
              <img ng-src="http://svuus-photos.s3.amazonaws.com/{{var[0].donor.photoid}}" ></img>
	    </div>
            <p>
              <b>Donated By {{var[0].donor.name}}</b>
            </p>
          </span>
        </div>
        <div>
          <font size="5">Item Value:</font>${{var[0].value}}
	</div>
	<div>
          <font size="5">Min Bid:</font>${{var[0].minvalue}}
        </div>
        <table border="1" width='100%'>
          <tr>
            <td width='50%'><label>Name:</label></td>
            <td><label>Bidder ID#</label></td>
            <td><label>Bid Amount</label>
              <br><font size='2'>Please bid in at least $1 increments</font></td>
          </tr>
          <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]" height='40'>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div style='margin-left:1cm; float:left; word-wrap: normal; width:14.85cm; '>
      <div>
        <h2>{{var[1].name}}</h2>
        <div class='row' style='margin-left:0cm'>
          <span>
	    {{var[1].description}}
          </span>
          <span style='float:right'>
	    <div class="silent-bid-sheet-image-container">
              <img ng-src="http://svuus-photos.s3.amazonaws.com/{{var[1].donor.photoid}}"></img>
	    </div>
            <p>
              <b>Donated By {{var[1].donor.name}}</b>
            </p>
          </span>
        </div>
        <div class='row' style='margin-left:0cm'>
          <span style='float:left'><font size="5">Item Value:</font>${{var[1].value}}</span>
          <span style='float:right'><font size="5">Min Bid:</font>${{var[1].minvalue}}</span>
        </div>
        <table border="1" width='100%'>
          <tr>
            <td width='50%'><label>Name:</label></td>
            <td><label>Bidder ID#</label></td>
            <td><label>Bid Amount</label>
              <br><font size='2'>Please bid in at least $1 increments</font></td>
          </tr>
          <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]" height='40'>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="page-break" />
</div>
