<div class="page-header">
  <style type="text/css" media="print">
    @page {
        size: landscape;
    }
  </style>
</div>
<div ng-repeat='var in items'>
  <div style='height: 8.815in; width: 29.7cm;'>
	<div style='width: 14.85cm; float:left; border-style: solid; word-wrap: normal;'>
	  <h2>{{var[0].name}}</h2>
	  <hr>
	  {{item.description}}
	  asdf asdf asdf asdf asd fasdf asdf asdf asdf
	  
	  {{var[0]}}
	</div>
	<div style='float:left; border-style: solid; word-wrap: normal;'>
	  <h2>fdsa</h2>
	  asdf asdf asdf asdf asd fasdf asdf asdf asdf
	  {{var[1]}}
	</div>
  </div>
</div>
asdf
