<md-card layout-padding>
  <div layout="row">
    <md-card flex layout-padding class="viewitem-nomargin">
      <div layout="row" ng-show="isAdmin()">
	<md-input-container>
	  <label>Item Number</label>
	  <input
	     type="number"
	     ng-model="item.number"
	     />
	</md-input-container>
	<md-input-container>
	  <label>Item Type</label>
	  <md-select ng-model="item.type">
	    <md-option value="live">Live</md-option>
	    <md-option value="silent">Silent</md-option>
	    <md-option value="fixed">Fixed</md-option>
	    <md-option value="raffle">Raffle</md-option>
	  </md-select>
	</md-input-container>
      </div>
      <md-card-title>
	<md-card-title-text>

	  <span class="md-headline">

	    <md-input-container>
	      <label>Item Name</label>
	      <input
		 type="text"
		 ng-model="item.name"
		 size="50"
		 >
	  </md-input-container>
	  </span>
	</md-card-title-text>
      </md-card-title>

      <font color="red">{{item.message}}</font>

      <div layout="row">
	<md-input-container>
	  <label>Item Description</label>
	  <textarea
             ng-model="item.description"
	     cols="70"
	     md-maxlength="500"
             >
	  </textarea>
	</md-input-container>
      </div>

      <div layout="row" layout-align="start center">
	<md-input-container>
	  <label>Item Starting Bid</label>
	  <input
             type="text"
             ng-model="item.minvalue"
	     format="currency"
             >
	</md-input-container>
	<md-input-container>
	  <label>Item Value</label>
	  <input
             type="text"
             ng-model="item.value"
	     format="currency"
             >
	</md-input-container>
	<md-input-container>
	  <label>Item Sell Price</label>
	  <input
             type="text"
             ng-model="item.price"
	     format="currency"
             >
	</md-input-container>
      </div>

      <div layout="row" style="overflow: hidden;">
	<md-input-container>
	  <label>Item Category</label>
	  <md-select ng-model="item.category">
	    <md-option value="event">Event</md-option>
            <md-option value="object">Object or service</md-option>
	  </md-select>
	</md-input-container>
	<md-input-container>
	  <label>Item Quantity</label>
	  <input
             type="text"
             ng-model="item.quantity"
             >
	</md-input-container>
      </div>
      <div layout="row" ng-show="item.policy">

	<md-input-container style="width:100%">
	  <label>Event Policy</label>
	  <md-select ng-model="item.policy" class="dropdown">
            <div ng-repeat="policy in policies">
	      <md-option value="{{policy}}">&nbsp;<span translate="{{policy}}"></span></md-option>
            </div>
	  </md-select>
	</md-input-container>
      </div>
      <div layout="row">
	<div>
	  <md-button class="md-primary md-raised" ng-click="saveitem(item)">Save Item Changes</md-button>
	</div>
	<div>
	  <md-button class="md-primary md-raised" ng-click="deleteitem(item)">Delete Item</md-button>
	</div>
      </div>
    </md-card>
    <md-card flex layout-pading>
      <md-card-title>
	<md-card-title-text>
	  <span class="md-headline">
            <md-input-container>
              <label>Donor Name</label>
              <input
		 ng-model="item.donor.name"
		 type="text"
		 size="40"
		 >
            </md-input-container>
	  </span>
	  <span class="md-subhead">
            <div layout="row">
              <md-input-container>
		<label>Donor Email</label>
		<input
		   ng-model="item.donor.email"
		   type="text"
		   size="60"
		   >
              </md-input-container>
	    </div>
	    <div>
              <md-input-container>
		<label>Donor Phone Number</label>
		<input
		   type="text"
		   ng-model="item.donor.phonenumber"
		   >
              </md-input-container>
            </div>
	  </span>
	</md-card-title-text>
	<md-card-title-media>
	  <div class="md-media-lg card-media">
	    <img ng-src="http://svuus-photos.s3.amazonaws.com/{{item.donor.photoid}}"  >
	  </div>
	</md-card-title-media>
      </md-card-title>
      <md-card layout-padding>
	<md-card-title>
	  <md-card-title-text>
	    <span class="md-headline">
	      Buyers
	    </span>
	  </md-card-title-text>
	</md-card-title>
	<div ng-repeat="buyer in item.buyers.values">
	  <div layout="row">
	    <div ><a ui-sref="viewticket( {bidnumber: buyer} )">{{tickets[buyer].name}} (#{{buyer}})</a></div>
	    <md-button class="md-icon-button" ng-click="removeBidderFromItem(item, buyer)" >
	      <md-icon>clear</md-icon>
	    </md-button>
	  </div>
	</div>
      </md-card>

    </md-card>
  </div>
</md-card>
