<div class="container col-xs-12 col-sm-offset-1 col-sm-10">
  {{message}}
  <div layout="row">
    <md-input-container>
      <label>Search Person Name</label>
      <input
	 type="text"
	 ng-model="searchTerms.searchbuyername"
	 >
    </md-input-container>
    <md-input-container>
      <label>Search Age Group</label>
      <md-select
	 ng-model="searchTerms.agegroup"
	 >
        <md-option value="">No Filter</md-option>
	<md-option value="ADULT_TICKET">Adult</md-option>
	<md-option value="HIGHSCHOOL_TICKET">High School Class</md-option>
	<md-option value="JUNIORHIGH_TICKET">Junior High Class</md-option>
	<md-option value="CHILD_TICKET">Elementary Classes</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Search Dietary Restrictions</label>
      <md-select
	 ng-model="searchTerms.dietaryrestrictions"
	 >
        <md-option value="">No Filter</md-option>
	<md-option value="NONE_FOOD">No food restrictions</md-option>
	<md-option value="VEGETARIAN_FOOD">Vegetarian</md-option>
	<md-option value="VEGAN">Vegan</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Sort</label>
      <md-select
	ng-model="sortval"
	 >
        <md-option value="" class="small-option">No Filter</md-option>
	<md-option value="date" class="small-option">Date Purchased</md-option>
	<md-option value="bidnum" class="small-option">Bid Number</md-option>
	<md-option value="agecategory" class="small-option">Age Category</md-option>
	<md-option value="food_restriction" class="small-option">Dietary Restriction</md-option>
	<md-option value="lastname" class="small-option">Last Name</md-option>
      </md-select>
    </md-input-container>
    <div>
      <md-button class="md-primary md-raised" ng-click="performSearch()">Search/Sort</md-button>
    </div>
    <div ng-show="tickets"><h3>{{tickets.length}} People</h3></div>
  </div>
  <div ng-repeat="ticket in tickets track by $index">
    <viewperson person="ticket"></viewperson>
  </div>
</div>
