<div class="container col-xs-12 col-sm-offset-1 col-sm-10">
  <h1 class="text-center" style="padding-top: 10px; padding-bottom: 20px">View Registered People</h1>
  <div class="container col-xs-7">
	<div ng-repeat="ticket in tickets">
	  <div class="panel panel-default">
		<div>
		  <div class="panel-body">
			<div class="row">
			  <label>Name</label>
			  {{ticket.name}}
			</div>
			<div class="row">
			  <label>Age</label>
			  {{ticket.agegroup}}
			</div>
			<div class="row">
			  <label>Dietary Restrictions</label>
			  <span translate="{{ticket.foodRes}}"></span>
			</div>
			<div class="row">
			  <label>Buyer</label>
			  {{ticket.buyer.name}}
			</div>
			<div class="row">
			  <label>Date Created</label>
			  {{ticket.date}}
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
