<md-card layout-padding class="viewitem-nomargin">
  <div layout="row">
    <div layout-padding flex>
      <div layout="row" ng-show="isAdmin()">
	<md-input-container>
	  <label>Item Number</label>
	  <input
	     type="number"
	     ng-model="item.number"
	     ng-blur="saveitem(item)"
	     />
	</md-input-container>
	<md-input-container>
	  <label>Item Type</label>
	  <md-select
	     ng-model="item.type"
	     ng-blur="saveitem(item)"
	     >
	    <md-option value="live">Live</md-option>
	    <md-option value="silent">Silent</md-option>
	    <md-option value="fixed">Fixed</md-option>
	    <md-option value="raffle">Raffle</md-option>
	  </md-select>
	</md-input-container>
      </div>

      <span class="md-headline">

	<md-input-container>
	  <label>Item Name</label>
	  <textarea
	    type="text"
	    ng-model="item.name"
	    md-maxlength="50"
	    ng-blur="saveitem(item)"
	    cols="70"
	    max-rows="1"
	     >
	  </textarea>
	</md-input-container>
      </span>

      <div layout="row">
	<md-input-container>
	  <label>Item Description</label>
	  <textarea
            ng-model="item.description"
	    cols="70"
	    md-maxlength="500"
	    ng-blur="saveitem(item)"
	    max-rows="3"
             >
	  </textarea>
	</md-input-container>
      </div>

      <div layout="row" layout-align="start center">
	<md-input-container>
	  <label>Item Starting Bid (USD)</label>
	  <input
             type="text"
             ng-model="item.minvalue"
	     ng-blur="saveitem(item)"
	     format="currency-no-change"
             >
	</md-input-container>
	<md-input-container>
	  <label>Item Value (USD)</label>
	  <input
             type="text"
             ng-model="item.value"
	     format="currency-no-change"
	     ng-blur="saveitem(item)"
             >
	</md-input-container>
      </div>

      <div layout="row" style="overflow: hidden;">
	<md-input-container>
	  <label>Item Category</label>
	  <md-select
	     ng-blur="saveitem(item)"
	     ng-model="item.category">
	    <md-option value="event">Event</md-option>
            <md-option value="object">Object or service</md-option>
	  </md-select>
	</md-input-container>
	<md-input-container>
	  <label>Item Quantity</label>
	  <input
             type="number"
	     ng-blur="saveitem(item)"
             ng-model="item.quantity"
             >
	</md-input-container>
	<md-input-container>
	  <label>Pricing Notes</label>
	  <textarea
	    ng-model="item.pricingnotes"
	    ng-blur="saveitem(item)"
	    max-rows="1"
	    ></textarea>
	</md-input-container>
      </div>
      <div layout="row" ng-show="item.policy">

	<md-input-container style="width:100%">
	  <label>Event Policy</label>
	  <md-select
	     ng-model="item.policy"
	     ng-blur="saveitem(item)" class="dropdown">
            <div ng-repeat="policy in policies">
	      <md-option value="{{policy}}">&nbsp;<span translate="{{policy}}"></span></md-option>
            </div>
	  </md-select>
	</md-input-container>
      </div>
      <div layout="row" ng-show="item.category == 'event'">
        <div>
          <md-datepicker
             ng-model="item.eventdate"
             md-placeholder="Event Date"
             aria-label="Date Picker"
	     md-min-date="eventMinDate"
	     md-max-date="eventMaxDate"
             >
          </md-datepicker>
        </div>
        <div>
          <md-input-container>
            <label>Time Notes</label>
            <input
               type="text"
               ng-model="item.eventtypedtime"
	       size="70"
               >
          </md-input-container>
	</div>
      </div>
      <div>
	<font color="red">{{item.message}}</font>
      </div>
      <div layout="row">
	<div>
	  <md-button class="md-primary md-raised" ng-click="deleteitem($event,item)">Delete Item</md-button>
	</div>
      </div>
    </div>
    <div flex="40" layout-pading>
      <div layout="row">
        <div>
          <span class="md-headline">
	    <font size="1"><br></font>
            <md-input-container>
              <label>Donor Name</label>
              <textarea
	         ng-bind="getFullName(item.donor)"
	         type="text"
	         cols="40"
	         ng-blur="saveitem(item)"
	         >
              </textarea>
            </md-input-container>
          </span>
          <div layout="row">
            <md-input-container>
	      <label>Donor Email</label>
	      <input
	         ng-model="item.donor.email" type="text" size="60"
	         ng-blur="saveitem(item)" >
            </md-input-container>
          </div>
          <div>
            <md-input-container>
	      <label>Donor Phone Number</label>
	      <input
	         type="text" ng-model="item.donor.phonenumber"
	         phone-input ng-blur="saveitem(item)" >
            </md-input-container>
          </div>
          <div>
            {{item.date | date:'medium'}}
          </div>
        </div>
        <div flex="100">
	  <img ng-src="https://svuus-photos.s3.amazonaws.com/{{item.donor.photoid}}"  >
        </div>
      </div>
      <div>
        <span class="md-headline">
	  Buyers
        </span>
        <div ng-repeat="transaction in transactions_by_item[item.id]" layout="row">
	  <div >{{transaction.bidnumber}} {{getFullName(tickets[transaction.bidnumber])}} <a href="mailto:{{tickets[transaction.bidnumber].buyer.email}}">{{tickets[transaction.bidnumber].buyer.email}}</a> {{tickets[transaction.bidnumber].buyer.phonenumber | tel}} {{transaction.sellprice | currency}}</div>
	  <md-button class="md-icon-button" ng-click="removeBidderFromItem($event, item, transaction)" >
	    <md-icon>clear</md-icon>
	  </md-button>
        </div>
        <div>
	  <md-button class="md-primary md-raised" href="mailto:{{item.concated_emails}}">Email Buyers</md-button>
        </div>
      </div>
    </div>

  </div>
</md-card>
