<md-card layout-padding>
  <div layout="row" flex>
    <md-card-title>
      <md-card-title-text>
	<span class="md-headline">
	  {{ticket.name}}
	</span>
	<span class="md-subhead">Bid Number {{ticket.bidnumber}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end">
      <md-button class="md-icon-button" ng-click="confirm_delete($event,ticket.bidnumber)" >
	<md-icon>clear</md-icon>
      </md-button>
    </md-card-actions>
  </div>
  <div layout="row">
    <label>Dietary Restrictions</label>
    <span translate="{{ticket.foodRes}}"></span>
  </div>
  <div layout="row">
    <label>Date Created</label>
    {{ticket.date}}
  </div>
  <md-card layout-padding>
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead">Bought Items</span>
      </md-card-title-text>
    </md-card-title>
    <div ng-repeat="item in ticket.boughtitems">
      <div layout="row">
	<a ui-sref="viewitem({ itemid: item })">{{items[item].name}}</a>
      </div>
    </div>
  </md-card>
</md-card>
