<md-card layout-padding>
  <div layout="row" flex>
    <md-card-title>
      <md-card-title-text>
	<span class="md-headline">
	  {{ticket.name}}
	</span>
	<span class="md-subhead">Bid Number {{ticket.bidnumber}}</span>
      </md-card-title-text>
    </md-card-title>
  </div>
  <div layout="row">
    <label>Age Category: </label><span translate="{{ticket.agegroup}}"></span>
  </div>
  <div layout="row">
    <label>Dietary Restrictions:&nbsp;</label>
    <span translate="{{ticket.foodRes}}"></span>
  </div>
  <div layout="row">
    <label>Date Created:</label>
    {{ticket.date | date:'medium'}}
  </div>
</md-card>
