<md-card layout-padding>
  <div class="md-headline">
    {{getFullName(ticket)}}
  </div>
  <div class="md-subhead">
    Bid Number {{ticket.bidnumber}}
  </div>
  <div layout="row">
    <label>Age Category: </label><span translate="{{ticket.agegroup}}"></span>
  </div>
  <div layout="row">
    <label>Dietary Restrictions:&nbsp;</label>
    <span translate="{{ticket.foodRes}}"></span>
  </div>
  <div layout="row">
    <label>Date Created:</label>
    {{ticket.date | date:'medium'}}
  </div>
  <div layout="row">
    <label>Gluten Free?</label>
    <span>
      {{ticket.gluten}}
    </span>
  </div>
</md-card>
