.ng-invalid {
	border-color: red;
	outline-color: red;
}

.ng-valid {
	border-color: green;
	outline-color: green;
}

.messages {
	font-size: smaller;
	padding-top: 5px;
	padding-bottom: 10px;
	color: red;
}


.active > button {
	background-color: #FF4081!important
}

.dropdown {
}

.viewitem-nomargin md-input-container {
    margin: 0px
}

.silent-bid-sheet-image-container {
    width:200px;
    height:200px;
}

.silent-bid-sheet-image-container img {
    max-width: 100%;
    max-height: 100%;
}

@media print {
    .page-break {page-break-after: always;}
}

@media print
{
    .no-print, .no-print *
		{
		    display: none !important;
		}
}