.ng-invalid {
	border-color: red;
	outline-color: red;
}

.ng-valid {
	border-color: green;
	outline-color: green;
}

.messages {
	font-size: smaller;
	padding-top: 5px;
	padding-bottom: 10px;
	color: red;
}


.active > button {
	background-color: #FF4081!important
}

.dropdown {
}

.viewitem-nomargin md-input-container {
    margin: 0px
}

.viewitem-somemargin md-input-container {
    margin: 9px
}

.live-catalog-image-container {
    width:120px;
    height:120px;
}

.live-catalog-image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.silent-bid-sheet-image-container {
    width:200px;
    height:200px;
}

.silent-bid-sheet-image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

table, th, td {
    border: 1px solid black;
}


table {
    border-collapse: collapse;
}

.div-table{
    display:table;
}
.div-table-row{
    display:table-row;
    width:auto;
}
.div-table-col{
    display:table-column;
}

.modify-items-virtual-repeat {
    height: calc(100vh - 150px);
    overflow-y: auto;

    > md-virtual-repeat-container {
        @media (width: $layout-breakpoint-sm) {
            width: 100%
        }
        height: calc(100vh - 100px);
    }
}

@media print {
    .page-break {page-break-after: always;}
}

@media print
{
    .no-print, .no-print *
		{
		    display: none !important;
		}
}

@media print
{
    .page-break-avoid {
	page-break-inside: avoid;
    }
}
